# .prettierrc for ClubPoker Chrome Extension
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <www.gnu.org>.
---
"semi": true               # Add semicolons at the end of statements
"singleQuote": false       # Use single quotes instead of double quotes
"trailingComma": "es5"     # Add trailing commas where valid in ES5 (objects, arrays, etc.)
"tabWidth": 2              # Indent with 2 spaces
"useTabs": false           # Use spaces instead of tabs
"printWidth": 80           # Wrap lines that exceed 80 characters
"arrowParens": "always"    # Include parentheses around a sole arrow function parameter
"endOfLine": "lf"          # Use LF for line endings
