---
"semi": true               # Add semicolons at the end of statements
"singleQuote": false       # Use single quotes instead of double quotes
"trailingComma": "es5"     # Add trailing commas where valid in ES5 (objects, arrays, etc.)
"tabWidth": 2              # Indent with 2 spaces
"useTabs": false           # Use spaces instead of tabs
"printWidth": 80           # Wrap lines that exceed 80 characters
"arrowParens": "always"    # Include parentheses around a sole arrow function parameter
"endOfLine": "lf"          # Use LF for line endings
