.googleCalendarUpdator {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  /* gap: 8px; */
}

.events {
  max-height: 100px; /* never taller than parent */
  overflow: auto; /* default */
  border: 1px solid #cccccc;
  box-shadow: inset 0 -10px 10px -10px rgb(0 0 0 / 30%);
}
