.popup {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px; /* optional, gives rounded corners */
  padding: 1rem; /* keeps content from touching border */
}

.popup.lightMode {
  --bg-color: white;
  --text-color: black;
  background: var(--bg-color);
  color: var(--text-color);
  border: 2px solid #1976d2; /* thickness, style, and color */
}

.popup.darkMode {
  --bg-color: #1e1e1e;
  --text-color: white;
  background: var(--bg-color);
  color: var(--text-color);
  border: 2px solid #1976d2; /* thickness, style, and color */
}
