.popup {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: white; // or whatever background you want
  border: 2px solid #1976d2; // thickness, style, and color
  border-radius: 8px; // optional, gives rounded corners
  padding: 1rem; // keeps content from touching border
}

// justify-content: center;
// align-items: center;
