.filterContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  gap: 8px;
}

.filters {
  max-height: 200px; /* never taller than parent */
  // margin: 0;
  // margin-top: 1rem; /* shift down by 10px */
  // padding: 1rem;
  overflow: auto; /* default */
  border: 1px solid #ccc;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
}

.gameFilter {
  padding: 1rem;
  border: 1px solid #ccc;
}

.buyInFilter {
  margin: 0;
  margin-top: 10px; /* shift down by 10px */
  padding: 1rem;
  border: 1px solid #ccc;
}
