.filterContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 8px;
}

.filters {
  max-height: 200px; /* never taller than parent */
  overflow: auto; /* default */
  border: 1px solid #cccccc;
  box-shadow: inset 0 -10px 10px -10px rgb(0 0 0 / 30%);
}

.gameFilter {
  padding: 1rem;
  border: 1px solid #cccccc;
}

.buyInFilter {
  margin: 0;
  margin-top: 10px; /* shift down by 10px */
  padding: 1rem;
  border: 1px solid #cccccc;
}
