---
name: CI Workflow

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  lint:
    name: Lint Code with ESLint and Format with Prettier
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'  # Specify the Node.js version you want to use

      - name: Install Dependencies
        run: |
          npm install

      - name: Run ESLint Check
        run: |
          npm run lint-check  # This will run ESLint with the --fix flag

      - name: Run Prettier Check
        run: |
          npm run pretty-check  # Check formatting
